################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MKDC_OpenLayer/MKDC_OpenLayer.csproj
